@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next,
.main {
  max-height: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.channel-list {
  li a:before {
    content: '# ';
    opacity: 0.4;
  }
  li a:hover {
    opacity: 0.7;
  }
}

.Messages {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse
  // flex-direction: column;
}